<!-- Suggestion Box -->
<div class="suggestion-box">
    <h id="contact"></h>
    <h3>If you have any Suggestion / Feedback / Information / Query please feel free to reach us <br> यदि आपके पास कोई
        सुझाव / प्रतिक्रिया / सूचना / प्रश्न है, तो कृपया हम तक अवश्य पहुचाएं</h3>
    <div class="suggestion-icons">
        <a href="mailto:navodayacovidhelp@gmail.com?subject=Contact%20:%20Bihar%20COVID%20Help" target="_blank">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a href="https://wa.me/917549980508?text=Hello%20*Bihar COVID Help*%20." target="_blank">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/biharcovidhelpfb" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/bihar_covidhelp" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://instagram.com/biharcovidhelp" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
</div>